importing

In [2]:
import pandas as pd
import numpy as np
import aiohttp
import asyncio
import requests
import time
import os
import warnings
import pickle

warnings.filterwarnings('ignore')

In [3]:
h01_22 = pickle.load(open('h01_22.pkl', 'rb'))
h01_22.head()

,Title,Director,Cast,Genre,release_year
0,Abhay,Suresh Krissna,"Kamal Haasan, Manisha Koirala, Raveena Tandon",Thriller,2001
1,Aamdani Atthanni Kharcha Rupaiya,K. Raghavendra Rao,"Govinda, Juhi Chawla, Johnny Lever, Tabu, Isha...",Family Drama,2001
2,Aashiq,Indra Kumar,"Bobby Deol, Karisma Kapoor",Action Comedy,2001
3,Ajnabee,Abbas Mustan,"Bobby Deol, Akshay Kumar, Kareena Kapoor, Bipa...","Thriller, Suspense, Crime",2001
4,Aks,Rakeysh Omprakash Mehra,"Amitabh Bachchan, Raveena Tandon, Manoj Bajpai...","Thriller, Horror",2001

In [4]:
h01_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023 entries, 0 to 2022
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         2023 non-null   object
 1   Director      2005 non-null   object
 2   Cast          2001 non-null   object
 3   Genre         1534 non-null   object
 4   release_year  2023 non-null   int32
dtypes: int32(1), object(4)
memory usage: 71.2+ KB

tmdb

In [6]:
def call_apis(session, df):
    tasks = []
    for i in range(df.shape[0]):
        url = "https://api.themoviedb.org/3/search/movie?query={}&primary_release_year={}"

        headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYTY0OTg4MmMxZGM2YzIwM2RhNDcxY2ExMDJmY2MxNyIsInN1YiI6IjY0NzczYmFkMTJjNjA0MDEzZWQ5MGFjNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-Saw_BrZ_WDQkMvZ04gfVwwiVR6HSpHO2QiiWAOjYxA"
                    }

        
        tasks.append(asyncio.create_task(session.get(url.format(df.iloc[i]['Title'], df.iloc[i]['release_year']), headers=headers)))

    return tasks

async def get_data(df):
    """ It gives ids, titles, overview, genre_ids, popularity, vote_average, vote_count"""
    async with aiohttp.ClientSession() as session:
        tasks = call_apis(session, df)
        responses = await asyncio.gather(*tasks)
        json_responses = []
        for response in responses:
            json_response = await response.json()
            json_responses.append(json_response)
    
        return json_responses

In [23]:
start = time.time()

json_responses = await get_data(h01_22)

end = time.time()
total_time = end - start
print("It took {} seconds to make {} API calls".format(total_time, len(h01_22)))
print('You did it!')

It took 2.718682289123535 seconds to make 2023 API calls
You did it!

In [24]:
json_responses[0]

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/oLhXBu8u2WUJkViIw5rl9Aq04W8.jpg',
   'genre_ids': [53],
   'id': 66346,
   'original_language': 'ta',
   'original_title': 'ஆளவந்தான்',
   'overview': "Nandu and Vijay are brothers, who were abused by their stepmother during their younger days. Nandhu, who is mentally ill, decides to kill Vijay's fiancee as he visualizes her as his stepmother.",
   'popularity': 3.362,
   'poster_path': '/5grbkwNnMylKw9dGq0X6CGn7E4O.jpg',
   'release_date': '2001-11-14',
   'title': 'Aalavandhan',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 13}],
 'total_pages': 1,
 'total_results': 1}

In [25]:
tmdb_id = []
overview = []
rating = []
poster = []
count=0

for record in json_responses:
    
    if 'results' not in record or len(record['results']) == 0:
        
        tmdb_id.append('no result')
        overview.append('no result')
        rating.append('no result')
        poster.append('no result')
    else:    
        tmdb_id.append(record['results'][0]['id'])
        overview.append(record['results'][0]['overview'])
        rating.append(record['results'][0]['vote_average'])
        poster.append(record['results'][0]['poster_path'])
    count+=1

In [26]:
count

2023

In [28]:
len(tmdb_id), len(overview), len(rating), len(poster)

(2023, 2023, 2023, 2023)

In [29]:
h01_22['tmdb_id'] = tmdb_id
h01_22['overview'] = overview
h01_22['rating'] = rating
h01_22['poster'] = poster

In [30]:
h01_22.drop(h01_22[h01_22['tmdb_id'] == 'no result'].index, inplace=True)
h01_22.reset_index(drop=True, inplace=True)

In [31]:
h01_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1798 entries, 0 to 1797
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1798 non-null   object
 1   Director      1789 non-null   object
 2   Cast          1784 non-null   object
 3   Genre         1365 non-null   object
 4   release_year  1798 non-null   int32
 5   tmdb_id       1798 non-null   object
 6   overview      1798 non-null   object
 7   rating        1798 non-null   object
 8   poster        1716 non-null   object
dtypes: int32(1), object(8)
memory usage: 119.5+ KB

In [32]:
#pickle.dump(h01_22,open('hindi_movies_01_22.pkl', 'wb'))

genres tmdb

In [33]:
def call_apis(session, df, var):
    tasks = []
    for i in range(df.shape[0]):
        url = "https://api.themoviedb.org/3/movie/{}"

        headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYTY0OTg4MmMxZGM2YzIwM2RhNDcxY2ExMDJmY2MxNyIsInN1YiI6IjY0NzczYmFkMTJjNjA0MDEzZWQ5MGFjNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-Saw_BrZ_WDQkMvZ04gfVwwiVR6HSpHO2QiiWAOjYxA"
        }


        
        tasks.append(asyncio.create_task(session.get(url.format(df.iloc[i][var]), headers=headers)))

    return tasks

async def get_data(df, var):
    async with aiohttp.ClientSession() as session:
        tasks = call_apis(session, df, var)
        responses = await asyncio.gather(*tasks)
        json_responses = []
        for response in responses:
            json_response = await response.json()
            json_responses.append(json_response)
    
        return json_responses

In [36]:
start = time.time()

json_responses = await get_data(h01_22, 'tmdb_id')

end = time.time()
total_time = end - start
print("It took {} seconds to make {} API calls".format(total_time, len(h01_22)))
print('You did it!')

It took 3.3175597190856934 seconds to make 1798 API calls
You did it!

In [56]:
json_responses[0]

{'adult': False,
 'backdrop_path': '/oLhXBu8u2WUJkViIw5rl9Aq04W8.jpg',
 'belongs_to_collection': None,
 'budget': 300000,
 'genres': [{'id': 53, 'name': 'Thriller'}],
 'homepage': '',
 'id': 66346,
 'imdb_id': 'tt0294264',
 'original_language': 'ta',
 'original_title': 'ஆளவந்தான்',
 'overview': "Nandu and Vijay are brothers, who were abused by their stepmother during their younger days. Nandhu, who is mentally ill, decides to kill Vijay's fiancee as he visualizes her as his stepmother.",
 'popularity': 3.362,
 'poster_path': '/5grbkwNnMylKw9dGq0X6CGn7E4O.jpg',
 'production_companies': [{'id': 27430,
   'logo_path': '/oKvkv0vBwF3U6FxJJV5CMQvPQOL.png',
   'name': 'V Creations',
   'origin_country': 'IN'}],
 'production_countries': [{'iso_3166_1': 'IN', 'name': 'India'}],
 'release_date': '2001-11-14',
 'revenue': 0,
 'runtime': 178,
 'spoken_languages': [{'english_name': 'Hindi',
   'iso_639_1': 'hi',
   'name': 'हिन्दी'},
  {'english_name': 'Tamil', 'iso_639_1': 'ta', 'name': 'தமிழ்'}],
 'status': 'Released',
 'tagline': '',
 'title': 'Aalavandhan',
 'video': False,
 'vote_average': 7.2,
 'vote_count': 13}

In [37]:
imdb_id = []
genres_tmdb = []
production_companies = []


for record in json_responses:
    
    if len(record['genres']) == 0:
        genres_tmdb.append('no result')
    else:
        genre_temp=[]
        for i in range(len(record['genres'])):
            genre_temp.append(record['genres'][i]['name'])
            
        genres_tmdb.append(genre_temp)
        
    if len(record['production_companies']) == 0:
        production_companies.append('no result')
    else:
        production_companies_temp=[]
        for i in range(len(record['production_companies'])):
            production_companies_temp.append(record['production_companies'][i]['name'])
            
        production_companies.append(production_companies_temp)
        
    if record['imdb_id'] != None:
        imdb_id.append(record['imdb_id'])
    else:
        imdb_id.append('no result')

In [38]:
len(genres_tmdb), len(production_companies), len(imdb_id)

(1798, 1798, 1798)

In [39]:
h01_22['genres_tmdb'] = genres_tmdb
h01_22['production_companies'] = production_companies
h01_22['imdb_id'] = imdb_id

In [40]:
h01_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1798 entries, 0 to 1797
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Title                 1798 non-null   object
 1   Director              1789 non-null   object
 2   Cast                  1784 non-null   object
 3   Genre                 1365 non-null   object
 4   release_year          1798 non-null   int32
 5   tmdb_id               1798 non-null   object
 6   overview              1798 non-null   object
 7   rating                1798 non-null   object
 8   poster                1716 non-null   object
 9   genres_tmdb           1798 non-null   object
 10  production_companies  1798 non-null   object
 11  imdb_id               1798 non-null   object
dtypes: int32(1), object(11)
memory usage: 161.7+ KB

In [41]:
h01_22.isna().sum()

Title                     0
Director                  9
Cast                     14
Genre                   433
release_year              0
tmdb_id                   0
overview                  0
rating                    0
poster                   82
genres_tmdb               0
production_companies      0
imdb_id                   0
dtype: int64

In [43]:
for i, j, k in zip(h01_22.index, h01_22['Genre'], h01_22['genres_tmdb']):
    
    if k == 'no result':
        
        h01_22['genres_tmdb'].update({i:h01_22.iloc[i]['Genre']})

In [45]:
#pickle.dump(h01_22,open('hindi_movies_01_22.pkl', 'wb'))

In [42]:
for col in h01_22.columns:
    
    print(f'{col} has no of "no result"-> {sum(h01_22[col]=="no result")}' )

Title has no of "no result"-> 0
Director has no of "no result"-> 0
Cast has no of "no result"-> 0
Genre has no of "no result"-> 0
release_year has no of "no result"-> 0
tmdb_id has no of "no result"-> 0
overview has no of "no result"-> 0
rating has no of "no result"-> 0
poster has no of "no result"-> 0
genres_tmdb has no of "no result"-> 148
production_companies has no of "no result"-> 623
imdb_id has no of "no result"-> 25

In [50]:
for col in h01_22.columns:
    
    print(f'{col} has no of "no result"-> {sum(h01_22[col]=="no result")}')

Title has no of "no result"-> 0
Director has no of "no result"-> 0
Cast has no of "no result"-> 0
Genre has no of "no result"-> 0
release_year has no of "no result"-> 0
tmdb_id has no of "no result"-> 0
overview has no of "no result"-> 0
rating has no of "no result"-> 0
poster has no of "no result"-> 0
genres_tmdb has no of "no result"-> 28
production_companies has no of "no result"-> 623
imdb_id has no of "no result"-> 25

Collecting cast and director

In [54]:
import requests

url = "https://api.themoviedb.org/3/movie/66346/credits"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYTY0OTg4MmMxZGM2YzIwM2RhNDcxY2ExMDJmY2MxNyIsInN1YiI6IjY0NzczYmFkMTJjNjA0MDEzZWQ5MGFjNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-Saw_BrZ_WDQkMvZ04gfVwwiVR6HSpHO2QiiWAOjYxA"
}

response = requests.get(url, headers=headers)

response.json()

{'id': 66346,
 'cast': [{'adult': False,
   'gender': 2,
   'id': 93193,
   'known_for_department': 'Acting',
   'name': 'Kamal Haasan',
   'original_name': 'Kamal Haasan',
   'popularity': 6.539,
   'profile_path': '/17zscZgz4wOlGDd3Gziw4YbI3G.jpg',
   'cast_id': 4,
   'character': 'Nandu (Tamil) / Abhay Kumar (Hindi) / Major Vijaykumar',
   'credit_id': '52fe4738c3a368484e0bb593',
   'order': 0},
  {'adult': False,
   'gender': 1,
   'id': 86077,
   'known_for_department': 'Acting',
   'name': 'Manisha Koirala',
   'original_name': 'Manisha Koirala',
   'popularity': 3.964,
   'profile_path': '/4rwOqhuFOXTPJUJsjutiJ0EjTqY.jpg',
   'cast_id': 5,
   'character': 'Sharmilee',
   'credit_id': '52fe4738c3a368484e0bb597',
   'order': 1},
  {'adult': False,
   'gender': 1,
   'id': 123180,
   'known_for_department': 'Acting',
   'name': 'Raveena Tandon',
   'original_name': 'Raveena Tandon',
   'popularity': 7.77,
   'profile_path': '/hZlFf8EvVWAz4qAM52J38k1TNs2.jpg',
   'cast_id': 6,
   'character': 'Tejaswini',
   'credit_id': '52fe4738c3a368484e0bb59b',
   'order': 2},
  {'adult': False,
   'gender': 2,
   'id': 584510,
   'known_for_department': 'Acting',
   'name': 'Gollapudi Maruti Rao',
   'original_name': 'Gollapudi Maruti Rao',
   'popularity': 1.172,
   'profile_path': None,
   'cast_id': 58,
   'character': 'Psychiatrist doctor',
   'credit_id': '6089d20ca217c000403a5a64',
   'order': 3},
  {'adult': False,
   'gender': 2,
   'id': 86025,
   'known_for_department': 'Acting',
   'name': 'Shri Vallabh Vyas',
   'original_name': 'Shri Vallabh Vyas',
   'popularity': 1.765,
   'profile_path': None,
   'cast_id': 29,
   'character': 'Dr. Srinivasa Rao (Hindi)',
   'credit_id': '581a9ce692514120d3002472',
   'order': 4},
  {'adult': False,
   'gender': 2,
   'id': 128728,
   'known_for_department': 'Acting',
   'name': 'Milind Gunaji',
   'original_name': 'Milind Gunaji',
   'popularity': 2.363,
   'profile_path': '/8KJ8YEgbi7mb0YvZj8XVpDSB1Xq.jpg',
   'cast_id': 10,
   'character': 'Lt. Col. Santhosh Kumar',
   'credit_id': '52fe4738c3a368484e0bb5a3',
   'order': 5},
  {'adult': False,
   'gender': 2,
   'id': 237629,
   'known_for_department': 'Acting',
   'name': 'Sarath Babu',
   'original_name': 'Sarath Babu',
   'popularity': 7.54,
   'profile_path': '/giugWi2EV6GYxmrkn4XKgyvjRGp.jpg',
   'cast_id': 7,
   'character': "Tejaswini's Father",
   'credit_id': '52fe4738c3a368484e0bb59f',
   'order': 6},
  {'adult': False,
   'gender': 2,
   'id': 131905,
   'known_for_department': 'Acting',
   'name': 'Navin Nischol',
   'original_name': 'Navin Nischol',
   'popularity': 1.873,
   'profile_path': '/zgVz8kN8q6r2sHfHFOr8AZ4nosa.jpg',
   'cast_id': 65,
   'character': 'Ravinder (Hindi)',
   'credit_id': '6089d4040835470078ec0346',
   'order': 7},
  {'adult': False,
   'gender': 1,
   'id': 584702,
   'known_for_department': 'Acting',
   'name': 'Fathima Babu',
   'original_name': 'Fathima Babu',
   'popularity': 4.4,
   'profile_path': '/pEAUTnvuSysqTF3dpkS7tlblNdu.jpg',
   'cast_id': 60,
   'character': "Tejaswini's mother",
   'credit_id': '6089d29c946318007a1082ed',
   'order': 8},
  {'adult': False,
   'gender': 1,
   'id': 43414,
   'known_for_department': 'Acting',
   'name': 'Smita Jaykar',
   'original_name': 'Smita Jaykar',
   'popularity': 2.23,
   'profile_path': None,
   'cast_id': 66,
   'character': 'Geeta (Hindi)',
   'credit_id': '6089d421a217c0006e960a67',
   'order': 9},
  {'adult': False,
   'gender': 1,
   'id': 581187,
   'known_for_department': 'Acting',
   'name': 'Anu Hasan',
   'original_name': 'Anu Hasan',
   'popularity': 5.217,
   'profile_path': '/3RAL49aXmIE5eY5Sg0cNBlQy5vD.jpg',
   'cast_id': 17,
   'character': 'Priya',
   'credit_id': '532a3543c3a3681ffd0007bd',
   'order': 10},
  {'adult': False,
   'gender': 1,
   'id': 53374,
   'known_for_department': 'Acting',
   'name': 'Kitu Gidwani',
   'original_name': 'Kitu Gidwani',
   'popularity': 1.477,
   'profile_path': '/sEQ1TrUwCsYuy0IpDY7XAoj9Skd.jpg',
   'cast_id': 11,
   'character': 'Jayanthi',
   'credit_id': '52fe4738c3a368484e0bb5a7',
   'order': 11},
  {'adult': False,
   'gender': 2,
   'id': 583940,
   'known_for_department': 'Acting',
   'name': 'Riyaz Khan',
   'original_name': 'Riyaz Khan',
   'popularity': 4.741,
   'profile_path': '/pwl6in6HaayAmiSQjx8Hp3eimw9.jpg',
   'cast_id': 28,
   'character': 'Sulthan',
   'credit_id': '57fe753292514106990099c7',
   'order': 12},
  {'adult': False,
   'gender': 2,
   'id': 43413,
   'known_for_department': 'Acting',
   'name': 'Vikram Gokhale',
   'original_name': 'Vikram Gokhale',
   'popularity': 1.591,
   'profile_path': '/q66OaRjgOpR9LEZM4dCkgp23eeL.jpg',
   'cast_id': 61,
   'character': 'Ranganath',
   'credit_id': '6089d31aa6e2d2002ab3b2d2',
   'order': 13},
  {'adult': False,
   'gender': 0,
   'id': 1254186,
   'known_for_department': 'Acting',
   'name': 'Poovilangu Mohan',
   'original_name': 'Poovilangu Mohan',
   'popularity': 0.998,
   'profile_path': '/o61yvHbUI6D46LDPqLpIkHXwx9i.jpg',
   'cast_id': 62,
   'character': 'Headmaster',
   'credit_id': '6089d33c38520200299a8046',
   'order': 14},
  {'adult': False,
   'gender': 2,
   'id': 86022,
   'known_for_department': 'Acting',
   'name': 'Yashpal Sharma',
   'original_name': 'Yashpal Sharma',
   'popularity': 1.484,
   'profile_path': '/hYDZkMl6u3rM2cASabpHgrvA0mf.jpg',
   'cast_id': 13,
   'character': 'Terrorist Gul',
   'credit_id': '52fe4738c3a368484e0bb5af',
   'order': 15},
  {'adult': False,
   'gender': 2,
   'id': 584493,
   'known_for_department': 'Acting',
   'name': 'Major Ravi',
   'original_name': 'Major Ravi',
   'popularity': 1.232,
   'profile_path': '/qJYg7Y6kERbiaLFqr5j7mew6SKq.jpg',
   'cast_id': 12,
   'character': 'Menon',
   'credit_id': '52fe4738c3a368484e0bb5ab',
   'order': 16},
  {'adult': True,
   'gender': 2,
   'id': 1638525,
   'known_for_department': 'Acting',
   'name': 'Nissar Khan',
   'original_name': 'Nissar Khan',
   'popularity': 1.397,
   'profile_path': '/zjO9FJ5WfPdUX78KFcv3V2ct6Ab.jpg',
   'cast_id': 63,
   'character': 'Sonu',
   'credit_id': '6089d3665b2f47004140e841',
   'order': 17},
  {'adult': False,
   'gender': 2,
   'id': 275257,
   'known_for_department': 'Acting',
   'name': 'Shiva',
   'original_name': 'Shiva',
   'popularity': 2.901,
   'profile_path': '/pYDlGj5f0WYU2NLPUauq5JSQ4ir.jpg',
   'cast_id': 64,
   'character': 'Self - "Siri Siri" song (uncredited role)',
   'credit_id': '6089d3daa217c00029074307',
   'order': 18},
  {'adult': False,
   'gender': 2,
   'id': 130111,
   'known_for_department': 'Acting',
   'name': 'Nassar',
   'original_name': 'Nassar',
   'popularity': 3.298,
   'profile_path': '/ix6L5OdJ9eQMPW4MF4OkIdeOnlo.jpg',
   'cast_id': 59,
   'character': 'Lt. Col. Santhosh Kumar (Voice)',
   'credit_id': '6089d27bc5c1ef003fd072ba',
   'order': 19},
  {'adult': False,
   'gender': 2,
   'id': 128728,
   'known_for_department': 'Acting',
   'name': 'Milind Gunaji',
   'original_name': 'Milind Gunaji',
   'popularity': 2.363,
   'profile_path': '/8KJ8YEgbi7mb0YvZj8XVpDSB1Xq.jpg',
   'cast_id': 67,
   'character': '',
   'credit_id': '61954032dfaae9002d047a3b',
   'order': 20}],
 'crew': [{'adult': False,
   'gender': 0,
   'id': 35788,
   'known_for_department': 'Costume & Make-Up',
   'name': 'Reza Shariffi',
   'original_name': 'Reza Shariffi',
   'popularity': 0.6,
   'profile_path': None,
   'credit_id': '57fe750192514115140050d5',
   'department': 'Costume & Make-Up',
   'job': 'Costume Design'},
  {'adult': False,
   'gender': 0,
   'id': 53681,
   'known_for_department': 'Art',
   'name': 'Samir Chanda',
   'original_name': 'Samir Chanda',
   'popularity': 0.649,
   'profile_path': None,
   'credit_id': '6089cb4f54a0980078f340f3',
   'department': 'Art',
   'job': 'Art Direction'},
  {'adult': False,
   'gender': 1,
   'id': 86077,
   'known_for_department': 'Acting',
   'name': 'Manisha Koirala',
   'original_name': 'Manisha Koirala',
   'popularity': 3.964,
   'profile_path': '/4rwOqhuFOXTPJUJsjutiJ0EjTqY.jpg',
   'credit_id': '6089d0893852020057353feb',
   'department': 'Sound',
   'job': 'Playback Singer'},
  {'adult': False,
   'gender': 2,
   'id': 81984,
   'known_for_department': 'Writing',
   'name': 'Javed Akhtar',
   'original_name': 'Javed Akhtar',
   'popularity': 1.615,
   'profile_path': '/qKnvYtFvox7BhHy2Nx6YbcuSuIB.jpg',
   'credit_id': '6089ca6425cd85006ffa1265',
   'department': 'Writing',
   'job': 'Lyricist'},
  {'adult': False,
   'gender': 2,
   'id': 93193,
   'known_for_department': 'Acting',
   'name': 'Kamal Haasan',
   'original_name': 'Kamal Haasan',
   'popularity': 6.539,
   'profile_path': '/17zscZgz4wOlGDd3Gziw4YbI3G.jpg',
   'credit_id': '57fe74d7925141069900999c',
   'department': 'Writing',
   'job': 'Screenplay'},
  {'adult': False,
   'gender': 2,
   'id': 93193,
   'known_for_department': 'Acting',
   'name': 'Kamal Haasan',
   'original_name': 'Kamal Haasan',
   'popularity': 6.539,
   'profile_path': '/17zscZgz4wOlGDd3Gziw4YbI3G.jpg',
   'credit_id': '603972e3dcb6a32b9bf9a6c2',
   'department': 'Writing',
   'job': 'Novel'},
  {'adult': False,
   'gender': 2,
   'id': 93193,
   'known_for_department': 'Acting',
   'name': 'Kamal Haasan',
   'original_name': 'Kamal Haasan',
   'popularity': 6.539,
   'profile_path': '/17zscZgz4wOlGDd3Gziw4YbI3G.jpg',
   'credit_id': '6089cccb43250f00776aa2d3',
   'department': 'Sound',
   'job': 'Playback Singer'},
  {'adult': False,
   'gender': 2,
   'id': 85581,
   'known_for_department': 'Sound',
   'name': 'Shankar Mahadevan',
   'original_name': 'Shankar Mahadevan',
   'popularity': 1.342,
   'profile_path': '/dUzAQPFi8t1EOA3XVM5d0ftJCjN.jpg',
   'credit_id': '6089cf6a0835470058f52ded',
   'department': 'Sound',
   'job': 'Original Music Composer'},
  {'adult': False,
   'gender': 2,
   'id': 85581,
   'known_for_department': 'Sound',
   'name': 'Shankar Mahadevan',
   'original_name': 'Shankar Mahadevan',
   'popularity': 1.342,
   'profile_path': '/dUzAQPFi8t1EOA3XVM5d0ftJCjN.jpg',
   'credit_id': '6089d03f9d8939005886feb1',
   'department': 'Sound',
   'job': 'Playback Singer'},
  {'adult': False,
   'gender': 2,
   'id': 85582,
   'known_for_department': 'Sound',
   'name': 'Ehsaan Noorani',
   'original_name': 'Ehsaan Noorani',
   'popularity': 0.732,
   'profile_path': '/eA0FcyxLwXww30zuzHHU4gOAyNL.jpg',
   'credit_id': '6089cf782dc44e005846e46a',
   'department': 'Sound',
   'job': 'Original Music Composer'},
  {'adult': False,
   'gender': 2,
   'id': 85583,
   'known_for_department': 'Sound',
   'name': 'Loy Mendonsa',
   'original_name': 'Loy Mendonsa',
   'popularity': 0.76,
   'profile_path': '/fQEfwBOVl4HfgByAKeJOAtdpqlT.jpg',
   'credit_id': '6089cf8543250f00776aa60f',
   'department': 'Sound',
   'job': 'Original Music Composer'},
  {'adult': False,
   'gender': 2,
   'id': 237694,
   'known_for_department': 'Production',
   'name': 'S. Thanu',
   'original_name': 'S. Thanu',
   'popularity': 0.797,
   'profile_path': '/2x1P2TzzXBoZqQ3xGgLyjPZzcCd.jpg',
   'credit_id': '5ab43ff2c3a368616c012684',
   'department': 'Production',
   'job': 'Producer'},
  {'adult': False,
   'gender': 2,
   'id': 419797,
   'known_for_department': 'Camera',
   'name': 'S. Thirunavukkarasu',
   'original_name': 'S. Thirunavukkarasu',
   'popularity': 1.4,
   'profile_path': None,
   'credit_id': '57c19a65c3a3686619003cf2',
   'department': 'Camera',
   'job': 'Director of Photography'},
  {'adult': False,
   'gender': 2,
   'id': 544903,
   'known_for_department': 'Editing',
   'name': 'Mu. Kasi Viswanathan',
   'original_name': 'Mu. Kasi Viswanathan',
   'popularity': 1.101,
   'profile_path': '/fpUBwLqP17JW7j1Y4l1so6mjQqz.jpg',
   'credit_id': '57c193b5c3a368661900375a',
   'department': 'Editing',
   'job': 'Editor'},
  {'adult': False,
   'gender': 2,
   'id': 544985,
   'known_for_department': 'Sound',
   'name': 'Mahesh Mahadevan',
   'original_name': 'Mahesh Mahadevan',
   'popularity': 1.176,
   'profile_path': None,
   'credit_id': '6089c7e2b2e074005798dd5d',
   'department': 'Sound',
   'job': 'Original Music Composer'},
  {'adult': False,
   'gender': 2,
   'id': 584325,
   'known_for_department': 'Acting',
   'name': 'R.S. Shivaji',
   'original_name': 'R.S. Shivaji',
   'popularity': 3.14,
   'profile_path': '/5vV6T1dOJWdGsDLdiBvyqzTSM2N.jpg',
   'credit_id': '57fe74ee92514113ae00543e',
   'department': 'Sound',
   'job': 'Sound Designer'},
  {'adult': False,
   'gender': 0,
   'id': 1113616,
   'known_for_department': 'Visual Effects',
   'name': 'Sanjay Naik',
   'original_name': 'Sanjay Naik',
   'popularity': 0.6,
   'profile_path': None,
   'credit_id': '6089cd2e635e78006e6c333f',
   'department': 'Crew',
   'job': 'Special Effects'},
  {'adult': False,
   'gender': 2,
   'id': 1198729,
   'known_for_department': 'Directing',
   'name': 'Suresh Krishna',
   'original_name': 'Suresh Krishna',
   'popularity': 0.84,
   'profile_path': '/bXCNqiD39dBcCAmtuf7IZTKzMG2.jpg',
   'credit_id': '52fe4738c3a368484e0bb5bd',
   'department': 'Directing',
   'job': 'Director'},
  {'adult': False,
   'gender': 2,
   'id': 1420094,
   'known_for_department': 'Writing',
   'name': 'Vairamuthu',
   'original_name': 'Vairamuthu',
   'popularity': 0.913,
   'profile_path': '/lAQLpZL54CNs3RZMzExn5BDaquc.jpg',
   'credit_id': '6089ca389a8a8a0058a36d2c',
   'department': 'Writing',
   'job': 'Lyricist'},
  {'adult': False,
   'gender': 2,
   'id': 1644157,
   'known_for_department': 'Crew',
   'name': 'Vikram Dharma',
   'original_name': 'Vikram Dharma',
   'popularity': 0.996,
   'profile_path': None,
   'credit_id': '6089cd5f9463180042a5c33f',
   'department': 'Crew',
   'job': 'Stunt Coordinator'},
  {'adult': False,
   'gender': 2,
   'id': 1693591,
   'known_for_department': 'Visual Effects',
   'name': 'Chandrasekharan',
   'original_name': 'Chandrasekharan',
   'popularity': 0.6,
   'profile_path': None,
   'credit_id': '6089cdd3f8aee80029019273',
   'department': 'Visual Effects',
   'job': 'Animation Supervisor'},
  {'adult': False,
   'gender': 2,
   'id': 1693591,
   'known_for_department': 'Visual Effects',
   'name': 'Chandrasekharan',
   'original_name': 'Chandrasekharan',
   'popularity': 0.6,
   'profile_path': None,
   'credit_id': '6089cee867e0f70058456684',
   'department': 'Visual Effects',
   'job': 'Character Designer'},
  {'adult': False,
   'gender': 1,
   'id': 1748987,
   'known_for_department': 'Sound',
   'name': 'Sujatha Mohan',
   'original_name': 'Sujatha Mohan',
   'popularity': 3.905,
   'profile_path': '/egV4HFjYvsTfcdzlQzVPDgdkuDc.jpg',
   'credit_id': '6089d07a481382002a6742c7',
   'department': 'Sound',
   'job': 'Playback Singer'},
  {'adult': False,
   'gender': 2,
   'id': 1802435,
   'known_for_department': 'Visual Effects',
   'name': 'Madhu Sudhanan',
   'original_name': 'Madhu Sudhanan',
   'popularity': 0.6,
   'profile_path': None,
   'credit_id': '6089c93284448e002a8426bb',
   'department': 'Visual Effects',
   'job': 'Visual Effects'},
  {'adult': False,
   'gender': 0,
   'id': 1932077,
   'known_for_department': 'Sound',
   'name': 'Mahalakshmi Iyer',
   'original_name': 'Mahalakshmi Iyer',
   'popularity': 0.685,
   'profile_path': None,
   'credit_id': '6089d04d3852020040fdb813',
   'department': 'Sound',
   'job': 'Playback Singer'},
  {'adult': False,
   'gender': 0,
   'id': 2375552,
   'known_for_department': 'Sound',
   'name': 'Nandini Srikar',
   'original_name': 'Nandini Srikar',
   'popularity': 0.6,
   'profile_path': None,
   'credit_id': '6089d029946318002b11a203',
   'department': 'Sound',
   'job': 'Playback Singer'},
  {'adult': False,
   'gender': 0,
   'id': 3071265,
   'known_for_department': 'Art',
   'name': 'Kishen Dagar',
   'original_name': 'Kishen Dagar',
   'popularity': 0.6,
   'profile_path': None,
   'credit_id': '6089cc4ba6e2d20058325ddc',
   'department': 'Art',
   'job': 'Art Direction'}]}

In [64]:
url = "https://api.themoviedb.org/3/movie/{}/credits"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYTY0OTg4MmMxZGM2YzIwM2RhNDcxY2ExMDJmY2MxNyIsInN1YiI6IjY0NzczYmFkMTJjNjA0MDEzZWQ5MGFjNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-Saw_BrZ_WDQkMvZ04gfVwwiVR6HSpHO2QiiWAOjYxA"
}

start = time.time()
# Run the code

count=0
json_responses = []

for ids in h01_22['tmdb_id']:
    response = requests.get(url.format(ids), headers=headers)
    json_responses.append(response.json())
    count+=1

In [65]:
len(json_responses)

1798

In [66]:
cast=[]
director = []
count=0
for record in range(len(json_responses)):
    
    if 'cast' in json_responses[record]:
        if len(json_responses[record]['cast'])>=6:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name'],
                         json_responses[record]['cast'][2]['name'],
                         json_responses[record]['cast'][3]['name'],
                         json_responses[record]['cast'][4]['name'],
                         json_responses[record]['cast'][5]['name']])
            
        elif len(json_responses[record]['cast'])==5:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name'],
                         json_responses[record]['cast'][2]['name'],
                         json_responses[record]['cast'][3]['name'],
                         json_responses[record]['cast'][4]['name']])
            
        elif len(json_responses[record]['cast'])==4:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name'],
                         json_responses[record]['cast'][2]['name'],
                         json_responses[record]['cast'][3]['name']])
            
        elif len(json_responses[record]['cast'])==3:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name'],
                         json_responses[record]['cast'][2]['name']])
            
        elif len(json_responses[record]['cast'])==2:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name']])
            
        elif len(json_responses[record]['cast'])==1:
            cast.append([json_responses[record]['cast'][0]['name']])
            
            
        else:
            cast.append('unknown')
            
    else:
        cast.append('unknown')
            
            
    if 'crew' in json_responses[record]:
        for member in json_responses[record]['crew']:
                if member['job'] == 'Director':
                    director.append(member['name'])
                    break
        else:
            director.append('unknown')
            
    else:
        director.append('unknown')
    count+=1

In [75]:
len(cast), len(director)

(1798, 1798)

In [76]:
h01_22['cast_tmdb'] = cast
h01_22['director_tmdb'] = director

In [ ]:
for i, j, k in zip(h01_22.index, h01_22['Genre'], h01_22['genres_tmdb']):
    
    if k == 'no result':
        
        h01_22['genres_tmdb'].update({i:h01_22.iloc[i]['Genre']})

In [79]:
#pickle.dump(h01_22,open('hindi_movies_01_22.pkl', 'wb'))

In [77]:
h01_22.isna().sum()

Title                     0
Director                  9
Cast                     14
Genre                   433
release_year              0
tmdb_id                   0
overview                  0
rating                    0
poster                   82
genres_tmdb               0
production_companies      0
imdb_id                   0
cast_tmdb                 0
director_tmdb             0
dtype: int64

In [78]:
for col in h01_22.columns:
    
    print(f'{col} has no of "no result"-> {sum(h01_22[col]=="no result")}')

Title has no of "no result"-> 0
Director has no of "no result"-> 0
Cast has no of "no result"-> 0
Genre has no of "no result"-> 0
release_year has no of "no result"-> 0
tmdb_id has no of "no result"-> 0
overview has no of "no result"-> 0
rating has no of "no result"-> 0
poster has no of "no result"-> 0
genres_tmdb has no of "no result"-> 28
production_companies has no of "no result"-> 623
imdb_id has no of "no result"-> 25
cast_tmdb has no of "no result"-> 0
director_tmdb has no of "no result"-> 0

In [ ]:
#pickle.dump(h01_22,open('hindi_movies_01_22.pkl', 'wb'))

In [80]:
h01_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1798 entries, 0 to 1797
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Title                 1798 non-null   object
 1   Director              1789 non-null   object
 2   Cast                  1784 non-null   object
 3   Genre                 1365 non-null   object
 4   release_year          1798 non-null   int32
 5   tmdb_id               1798 non-null   object
 6   overview              1798 non-null   object
 7   rating                1798 non-null   object
 8   poster                1716 non-null   object
 9   genres_tmdb           1798 non-null   object
 10  production_companies  1798 non-null   object
 11  imdb_id               1798 non-null   object
 12  cast_tmdb             1798 non-null   object
 13  director_tmdb         1798 non-null   object
dtypes: int32(1), object(13)
memory usage: 189.8+ KB

In [85]:
h01_22.fillna("no result", inplace=True)

In [86]:
#pickle.dump(h01_22,open('hindi_movies_01_22.pkl', 'wb'))

In [7]:
h01_22 = pickle.load(open('hindi_movies_01_22.pkl', 'rb'))
h01_22.head()

,Title,Director,Cast,Genre,release_year,tmdb_id,overview,rating,poster,genres_tmdb,production_companies,imdb_id,cast_tmdb,director_tmdb
0,Abhay,Suresh Krissna,"Kamal Haasan, Manisha Koirala, Raveena Tandon",Thriller,2001,66346,"Nandu and Vijay are brothers, who were abused ...",7.200,/5grbkwNnMylKw9dGq0X6CGn7E4O.jpg,[Thriller],[V Creations],tt0294264,"[Kamal Haasan, Manisha Koirala, Raveena Tandon...",Suresh Krishna
1,Aamdani Atthanni Kharcha Rupaiya,K. Raghavendra Rao,"Govinda, Juhi Chawla, Johnny Lever, Tabu, Isha...",Family Drama,2001,25801,"Jhoomri and her husband, Bhimsha, move into a ...",5.200,/9xl6TNdI2QM1kKBrsuNKJkWadu4.jpg,[Comedy],no result,tt0305173,"[Govinda, Juhi Chawla, Johnny Lever, Tabu, Ket...",K Raghavendra Rao
2,Aashiq,Indra Kumar,"Bobby Deol, Karisma Kapoor",Action Comedy,2001,362100,Pooja and Chander Kapoor have a heart-to-heart...,6.000,/ebH0vv6e5CTls53RVFuCRIRFDIo.jpg,"[Action, Romance]",no result,tt0273406,"[Bobby Deol, Karisma Kapoor, Ashok Saraf, Muke...",Indra Kumar
3,Ajnabee,Abbas Mustan,"Bobby Deol, Akshay Kumar, Kareena Kapoor, Bipa...","Thriller, Suspense, Crime",2001,22316,Raj and Priya befriend their new neighbors Vic...,5.611,/rIscKIZxR4HXzLiWgAU7GykfpfI.jpg,"[Action, Crime, Drama, Thriller]",[Film Folks],tt0278291,"[Akshay Kumar, Bobby Deol, Kareena Kapoor Khan...",Mustan Alibhai Burmawalla
4,Aks,Rakeysh Omprakash Mehra,"Amitabh Bachchan, Raveena Tandon, Manoj Bajpai...","Thriller, Horror",2001,152035,"On the trail of an underworld contract killer,...",5.100,/4vGi15Vx0KsU9ngvE6jpB2lSXhq.jpg,"[Crime, Thriller]",no result,tt0289845,"[Amitabh Bachchan, Manoj Bajpayee, Raveena Tan...",Rakeysh Omprakash Mehra

hindi movies - 2023

In [37]:
h2023 = pickle.load(open('h2023.pkl', 'rb'))
h2023.head()

,Title,Director,Cast,Studio (production house),release_year
0,Kuttey,Aasmaan Bhardwaj,Arjun KapoorNaseeruddin ShahTabuKonkona Sen Sh...,"T-Series Films, Luv Films, Vishal Bhardwaj Films",2023
1,Lakadbaggha,Victor Mukherjee,Anshuman JhaRiddhi DograMilind Soman,First Ray Films,2023
2,Mission Majnu,Shantanu Bagchi,Sidharth MalhotraRashmika MandannaKumud Mishra...,"RSVP Movies, Guilty By Association Media LLP, ...",2023
3,Chhatriwali,Tejas Deoskar,Rakul Preet SinghSumeet VyasSatish KaushikRaje...,"RSVP Movies, ZEE5",2023
4,Pathaan,Siddharth Anand,Shah Rukh KhanDeepika PadukoneJohn Abraham,Yash Raj Films,2023

In [38]:
h2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Title                      55 non-null     object
 1   Director                   55 non-null     object
 2   Cast                       55 non-null     object
 3   Studio (production house)  55 non-null     object
 4   release_year               55 non-null     int32
dtypes: int32(1), object(4)
memory usage: 2.1+ KB

tmdb

In [39]:
def call_apis(session, df):
    tasks = []
    for i in range(df.shape[0]):
        url = "https://api.themoviedb.org/3/search/movie?query={}&primary_release_year={}"

        headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYTY0OTg4MmMxZGM2YzIwM2RhNDcxY2ExMDJmY2MxNyIsInN1YiI6IjY0NzczYmFkMTJjNjA0MDEzZWQ5MGFjNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-Saw_BrZ_WDQkMvZ04gfVwwiVR6HSpHO2QiiWAOjYxA"
                    }

        
        tasks.append(asyncio.create_task(session.get(url.format(df.iloc[i]['Title'], df.iloc[i]['release_year']), headers=headers)))

    return tasks

async def get_data(df):
    """ It gives ids, titles, overview, genre_ids, popularity, vote_average, vote_count"""
    async with aiohttp.ClientSession() as session:
        tasks = call_apis(session, df)
        responses = await asyncio.gather(*tasks)
        json_responses = []
        for response in responses:
            json_response = await response.json()
            json_responses.append(json_response)
    
        return json_responses

In [40]:
start = time.time()

json_responses = await get_data(h2023)

end = time.time()
total_time = end - start
print("It took {} seconds to make {} API calls".format(total_time, len(h2023)))
print('You did it!')

It took 0.1252577304840088 seconds to make 55 API calls
You did it!

In [41]:
len(json_responses)

55

In [42]:
tmdb_id = []
overview = []
rating = []
poster = []
count=0

for record in json_responses:
    
    if 'results' not in record or len(record['results']) == 0:
        
        tmdb_id.append('no result')
        overview.append('no result')
        rating.append('no result')
        poster.append('no result')
    else:    
        tmdb_id.append(record['results'][0]['id'])
        overview.append(record['results'][0]['overview'])
        rating.append(record['results'][0]['vote_average'])
        poster.append(record['results'][0]['poster_path'])
    count+=1

In [43]:
len(tmdb_id), len(overview), len(rating), len(poster)

(55, 55, 55, 55)

In [44]:
h2023['tmdb_id'] = tmdb_id
h2023['overview'] = overview
h2023['rating'] = rating
h2023['poster'] = poster

In [45]:
h2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Title                      55 non-null     object
 1   Director                   55 non-null     object
 2   Cast                       55 non-null     object
 3   Studio (production house)  55 non-null     object
 4   release_year               55 non-null     int32
 5   tmdb_id                    55 non-null     object
 6   overview                   55 non-null     object
 7   rating                     55 non-null     object
 8   poster                     54 non-null     object
dtypes: int32(1), object(8)
memory usage: 3.8+ KB

In [46]:
for col in h2023.columns:
    
    print(f'{col} has no of "no result"-> {sum(h2023[col]=="no result")}')

Title has no of "no result"-> 0
Director has no of "no result"-> 0
Cast has no of "no result"-> 0
Studio (production house) has no of "no result"-> 0
release_year has no of "no result"-> 0
tmdb_id has no of "no result"-> 2
overview has no of "no result"-> 2
rating has no of "no result"-> 2
poster has no of "no result"-> 2

In [47]:
h2023.drop(h2023[h2023['tmdb_id']=="no result"].index, inplace=True)
h2023.reset_index(drop=True, inplace=True)

genres tmdb

In [50]:
def call_apis(session, df, var):
    tasks = []
    for i in range(df.shape[0]):
        url = "https://api.themoviedb.org/3/movie/{}"

        headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYTY0OTg4MmMxZGM2YzIwM2RhNDcxY2ExMDJmY2MxNyIsInN1YiI6IjY0NzczYmFkMTJjNjA0MDEzZWQ5MGFjNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-Saw_BrZ_WDQkMvZ04gfVwwiVR6HSpHO2QiiWAOjYxA"
        }


        
        tasks.append(asyncio.create_task(session.get(url.format(df.iloc[i][var]), headers=headers)))

    return tasks

async def get_data(df, var):
    async with aiohttp.ClientSession() as session:
        tasks = call_apis(session, df, var)
        responses = await asyncio.gather(*tasks)
        json_responses = []
        for response in responses:
            json_response = await response.json()
            json_responses.append(json_response)
    
        return json_responses

In [51]:
start = time.time()

json_responses = await get_data(h2023, 'tmdb_id')

end = time.time()
total_time = end - start
print("It took {} seconds to make {} API calls".format(total_time, len(h2023)))
print('You did it!')

It took 0.11934661865234375 seconds to make 53 API calls
You did it!

In [52]:
imdb_id = []
genres_tmdb = []
production_companies = []


for record in json_responses:
    
    if len(record['genres']) == 0:
        genres_tmdb.append('no result')
    else:
        genre_temp=[]
        for i in range(len(record['genres'])):
            genre_temp.append(record['genres'][i]['name'])
            
        genres_tmdb.append(genre_temp)
        
    if len(record['production_companies']) == 0:
        production_companies.append('no result')
    else:
        production_companies_temp=[]
        for i in range(len(record['production_companies'])):
            production_companies_temp.append(record['production_companies'][i]['name'])
            
        production_companies.append(production_companies_temp)
        
    if record['imdb_id'] != None:
        imdb_id.append(record['imdb_id'])
    else:
        imdb_id.append('no result')

In [53]:
len(genres_tmdb), len(production_companies), len(imdb_id)

(53, 53, 53)

In [55]:
h2023['genres_tmdb'] = genres_tmdb
h2023['production_companies'] = production_companies
h2023['imdb_id'] = imdb_id

In [56]:
h2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Title                      53 non-null     object
 1   Director                   53 non-null     object
 2   Cast                       53 non-null     object
 3   Studio (production house)  53 non-null     object
 4   release_year               53 non-null     int32
 5   tmdb_id                    53 non-null     object
 6   overview                   53 non-null     object
 7   rating                     53 non-null     object
 8   poster                     52 non-null     object
 9   genres_tmdb                53 non-null     object
 10  production_companies       53 non-null     object
 11  imdb_id                    53 non-null     object
dtypes: int32(1), object(11)
memory usage: 4.9+ KB

In [57]:
for col in h2023.columns:
    
    print(f'{col} has no of "no result"-> {sum(h2023[col]=="no result")}')

Title has no of "no result"-> 0
Director has no of "no result"-> 0
Cast has no of "no result"-> 0
Studio (production house) has no of "no result"-> 0
release_year has no of "no result"-> 0
tmdb_id has no of "no result"-> 0
overview has no of "no result"-> 0
rating has no of "no result"-> 0
poster has no of "no result"-> 0
genres_tmdb has no of "no result"-> 2
production_companies has no of "no result"-> 12
imdb_id has no of "no result"-> 2

In [60]:
h2023['Cast'][0]

'Arjun KapoorNaseeruddin ShahTabuKonkona Sen SharmaRadhika MadanKumud MishraShardul Bhardwaj'

cast and director

In [61]:
url = "https://api.themoviedb.org/3/movie/{}/credits"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYTY0OTg4MmMxZGM2YzIwM2RhNDcxY2ExMDJmY2MxNyIsInN1YiI6IjY0NzczYmFkMTJjNjA0MDEzZWQ5MGFjNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-Saw_BrZ_WDQkMvZ04gfVwwiVR6HSpHO2QiiWAOjYxA"
}

start = time.time()
# Run the code

count=0
json_responses = []

for ids in h2023['tmdb_id']:
    response = requests.get(url.format(ids), headers=headers)
    json_responses.append(response.json())
    count+=1

In [62]:
len(json_responses)

53

In [63]:
cast=[]
director = []
count=0
for record in range(len(json_responses)):
    
    if 'cast' in json_responses[record]:
        if len(json_responses[record]['cast'])>=6:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name'],
                         json_responses[record]['cast'][2]['name'],
                         json_responses[record]['cast'][3]['name'],
                         json_responses[record]['cast'][4]['name'],
                         json_responses[record]['cast'][5]['name']])
            
        elif len(json_responses[record]['cast'])==5:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name'],
                         json_responses[record]['cast'][2]['name'],
                         json_responses[record]['cast'][3]['name'],
                         json_responses[record]['cast'][4]['name']])
            
        elif len(json_responses[record]['cast'])==4:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name'],
                         json_responses[record]['cast'][2]['name'],
                         json_responses[record]['cast'][3]['name']])
            
        elif len(json_responses[record]['cast'])==3:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name'],
                         json_responses[record]['cast'][2]['name']])
            
        elif len(json_responses[record]['cast'])==2:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name']])
            
        elif len(json_responses[record]['cast'])==1:
            cast.append([json_responses[record]['cast'][0]['name']])
            
            
        else:
            cast.append('unknown')
            
    else:
        cast.append('unknown')
            
            
    if 'crew' in json_responses[record]:
        for member in json_responses[record]['crew']:
                if member['job'] == 'Director':
                    director.append(member['name'])
                    break
        else:
            director.append('unknown')
            
    else:
        director.append('unknown')
    count+=1

In [65]:
h2023['cast_tmdb'] = cast
h2023['director_tmdb'] = director

In [68]:
h2023.head()

,Title,Director,Cast,Studio (production house),release_year,tmdb_id,overview,rating,poster,genres_tmdb,production_companies,imdb_id,cast_tmdb,director_tmdb
0,Kuttey,Aasmaan Bhardwaj,Arjun KapoorNaseeruddin ShahTabuKonkona Sen Sh...,"T-Series Films, Luv Films, Vishal Bhardwaj Films",2023,864573,A van carrying crores of cash. One rainy night...,6.115,/bwJHR0qzAvJLKy7EioiSRu0QivY.jpg,"[Comedy, Crime, Thriller]","[Vishal Bhardwaj Films, LUV Films, T-Series]",tt15281704,"[Arjun Kapoor, Tabu, Kumud Mishra, Radhika Mad...",Aasmaan Bhardwaj
1,Lakadbaggha,Victor Mukherjee,Anshuman JhaRiddhi DograMilind Soman,First Ray Films,2023,1069567,An animal loving vigilante Arjun Bakshi uneart...,8.5,/tgyHSVTw42PMHxnq0KOXbTVwu5C.jpg,"[Action, Crime, Thriller]",[First Ray Films],tt20319598,"[Anshuman Jha, Ridhi Dogra, Milind Soman, Pare...",Victor Mukherjee
2,Mission Majnu,Shantanu Bagchi,Sidharth MalhotraRashmika MandannaKumud Mishra...,"RSVP Movies, Guilty By Association Media LLP, ...",2023,778946,"Set in the 1970s, an undercover Indian spy tak...",7.0,/jHQitiHK4M561W1O7WwfJ0dJ8S1.jpg,"[Thriller, Action, Drama, History]","[RSVP Movies, GBA]",tt13131232,"[Sidharth Malhotra, Rashmika Mandanna, Sharib ...",Shantanu Bagchi
3,Chhatriwali,Tejas Deoskar,Rakul Preet SinghSumeet VyasSatish KaushikRaje...,"RSVP Movies, ZEE5",2023,897515,Sanya is an unemployed chemistry genius lookin...,6.0,/yj6QBEx3QMMxfz5AqDtFEgvlfSb.jpg,"[Comedy, Drama]",[RSVP Movies],tt15516226,"[Rakul Preet Singh, Sumeet Vyas, Satish Kaushi...",Tejas Vijay Deoskar
4,Pathaan,Siddharth Anand,Shah Rukh KhanDeepika PadukoneJohn Abraham,Yash Raj Films,2023,864692,A soldier caught by enemies and presumed dead ...,6.649,/h9E4aGGnK0RXYgSZxDfnIeUqyVv.jpg,"[Action, Adventure, Thriller]",[Yash Raj Films],tt12844910,"[Shah Rukh Khan, Deepika Padukone, John Abraha...",Siddharth Anand

In [70]:
#pickle.dump(h2023,open('hindi_movies_2023.pkl', 'wb'))

In [71]:
h01_22 = pickle.load(open('hindi_movies_01_22.pkl', 'rb'))
h01_22.head()

,Title,Director,Cast,Genre,release_year,tmdb_id,overview,rating,poster,genres_tmdb,production_companies,imdb_id,cast_tmdb,director_tmdb
0,Abhay,Suresh Krissna,"Kamal Haasan, Manisha Koirala, Raveena Tandon",Thriller,2001,66346,"Nandu and Vijay are brothers, who were abused ...",7.200,/5grbkwNnMylKw9dGq0X6CGn7E4O.jpg,[Thriller],[V Creations],tt0294264,"[Kamal Haasan, Manisha Koirala, Raveena Tandon...",Suresh Krishna
1,Aamdani Atthanni Kharcha Rupaiya,K. Raghavendra Rao,"Govinda, Juhi Chawla, Johnny Lever, Tabu, Isha...",Family Drama,2001,25801,"Jhoomri and her husband, Bhimsha, move into a ...",5.200,/9xl6TNdI2QM1kKBrsuNKJkWadu4.jpg,[Comedy],no result,tt0305173,"[Govinda, Juhi Chawla, Johnny Lever, Tabu, Ket...",K Raghavendra Rao
2,Aashiq,Indra Kumar,"Bobby Deol, Karisma Kapoor",Action Comedy,2001,362100,Pooja and Chander Kapoor have a heart-to-heart...,6.000,/ebH0vv6e5CTls53RVFuCRIRFDIo.jpg,"[Action, Romance]",no result,tt0273406,"[Bobby Deol, Karisma Kapoor, Ashok Saraf, Muke...",Indra Kumar
3,Ajnabee,Abbas Mustan,"Bobby Deol, Akshay Kumar, Kareena Kapoor, Bipa...","Thriller, Suspense, Crime",2001,22316,Raj and Priya befriend their new neighbors Vic...,5.611,/rIscKIZxR4HXzLiWgAU7GykfpfI.jpg,"[Action, Crime, Drama, Thriller]",[Film Folks],tt0278291,"[Akshay Kumar, Bobby Deol, Kareena Kapoor Khan...",Mustan Alibhai Burmawalla
4,Aks,Rakeysh Omprakash Mehra,"Amitabh Bachchan, Raveena Tandon, Manoj Bajpai...","Thriller, Horror",2001,152035,"On the trail of an underworld contract killer,...",5.100,/4vGi15Vx0KsU9ngvE6jpB2lSXhq.jpg,"[Crime, Thriller]",no result,tt0289845,"[Amitabh Bachchan, Manoj Bajpayee, Raveena Tan...",Rakeysh Omprakash Mehra

In [72]:
h01_22.columns

Index(['Title', 'Director', 'Cast', 'Genre', 'release_year', 'tmdb_id',
       'overview', 'rating', 'poster', 'genres_tmdb', 'production_companies',
       'imdb_id', 'cast_tmdb', 'director_tmdb'],
      dtype='object')

In [75]:
h01_22 = h01_22[['Title', 'release_year', 'cast_tmdb', 'director_tmdb', 'tmdb_id', 'overview', 'rating', 'poster', 'genres_tmdb', 'production_companies','imdb_id']]

In [76]:
h01_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1798 entries, 0 to 1797
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Title                 1798 non-null   object
 1   release_year          1798 non-null   int32
 2   cast_tmdb             1798 non-null   object
 3   director_tmdb         1798 non-null   object
 4   tmdb_id               1798 non-null   int64
 5   overview              1798 non-null   object
 6   rating                1798 non-null   float64
 7   poster                1798 non-null   object
 8   genres_tmdb           1798 non-null   object
 9   production_companies  1798 non-null   object
 10  imdb_id               1798 non-null   object
dtypes: float64(1), int32(1), int64(1), object(8)
memory usage: 147.6+ KB

In [78]:
h2023 = pickle.load(open('hindi_movies_2023.pkl', 'rb'))
h2023.head()

,Title,Director,Cast,Studio (production house),release_year,tmdb_id,overview,rating,poster,genres_tmdb,production_companies,imdb_id,cast_tmdb,director_tmdb
0,Kuttey,Aasmaan Bhardwaj,Arjun KapoorNaseeruddin ShahTabuKonkona Sen Sh...,"T-Series Films, Luv Films, Vishal Bhardwaj Films",2023,864573,A van carrying crores of cash. One rainy night...,6.115,/bwJHR0qzAvJLKy7EioiSRu0QivY.jpg,"[Comedy, Crime, Thriller]","[Vishal Bhardwaj Films, LUV Films, T-Series]",tt15281704,"[Arjun Kapoor, Tabu, Kumud Mishra, Radhika Mad...",Aasmaan Bhardwaj
1,Lakadbaggha,Victor Mukherjee,Anshuman JhaRiddhi DograMilind Soman,First Ray Films,2023,1069567,An animal loving vigilante Arjun Bakshi uneart...,8.5,/tgyHSVTw42PMHxnq0KOXbTVwu5C.jpg,"[Action, Crime, Thriller]",[First Ray Films],tt20319598,"[Anshuman Jha, Ridhi Dogra, Milind Soman, Pare...",Victor Mukherjee
2,Mission Majnu,Shantanu Bagchi,Sidharth MalhotraRashmika MandannaKumud Mishra...,"RSVP Movies, Guilty By Association Media LLP, ...",2023,778946,"Set in the 1970s, an undercover Indian spy tak...",7.0,/jHQitiHK4M561W1O7WwfJ0dJ8S1.jpg,"[Thriller, Action, Drama, History]","[RSVP Movies, GBA]",tt13131232,"[Sidharth Malhotra, Rashmika Mandanna, Sharib ...",Shantanu Bagchi
3,Chhatriwali,Tejas Deoskar,Rakul Preet SinghSumeet VyasSatish KaushikRaje...,"RSVP Movies, ZEE5",2023,897515,Sanya is an unemployed chemistry genius lookin...,6.0,/yj6QBEx3QMMxfz5AqDtFEgvlfSb.jpg,"[Comedy, Drama]",[RSVP Movies],tt15516226,"[Rakul Preet Singh, Sumeet Vyas, Satish Kaushi...",Tejas Vijay Deoskar
4,Pathaan,Siddharth Anand,Shah Rukh KhanDeepika PadukoneJohn Abraham,Yash Raj Films,2023,864692,A soldier caught by enemies and presumed dead ...,6.649,/h9E4aGGnK0RXYgSZxDfnIeUqyVv.jpg,"[Action, Adventure, Thriller]",[Yash Raj Films],tt12844910,"[Shah Rukh Khan, Deepika Padukone, John Abraha...",Siddharth Anand

In [79]:
h2023.columns

Index(['Title', 'Director', 'Cast', 'Studio (production house)',
       'release_year', 'tmdb_id', 'overview', 'rating', 'poster',
       'genres_tmdb', 'production_companies', 'imdb_id', 'cast_tmdb',
       'director_tmdb'],
      dtype='object')

In [81]:
list(h01_22.columns)

['Title',
 'release_year',
 'cast_tmdb',
 'director_tmdb',
 'tmdb_id',
 'overview',
 'rating',
 'poster',
 'genres_tmdb',
 'production_companies',
 'imdb_id']

In [86]:
h2023 = h2023[['Title', 'release_year', 'cast_tmdb', 'director_tmdb', 'tmdb_id', 'overview', 'rating', 'poster', 'genres_tmdb', 'production_companies','imdb_id']].fillna("no result")

In [88]:
for col in h2023.columns:
    
    print(f'{col} has no of "no result"-> {sum(h2023[col]=="no result")}')

Title has no of "no result"-> 0
release_year has no of "no result"-> 0
cast_tmdb has no of "no result"-> 0
director_tmdb has no of "no result"-> 0
tmdb_id has no of "no result"-> 0
overview has no of "no result"-> 0
rating has no of "no result"-> 0
poster has no of "no result"-> 1
genres_tmdb has no of "no result"-> 2
production_companies has no of "no result"-> 12
imdb_id has no of "no result"-> 2

In [91]:
hindi_movies = pd.concat([h01_22, h2023], ignore_index=True)

In [93]:
hindi_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1851 entries, 0 to 1850
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Title                 1851 non-null   object
 1   release_year          1851 non-null   int32
 2   cast_tmdb             1851 non-null   object
 3   director_tmdb         1851 non-null   object
 4   tmdb_id               1851 non-null   int64
 5   overview              1851 non-null   object
 6   rating                1851 non-null   float64
 7   poster                1851 non-null   object
 8   genres_tmdb           1851 non-null   object
 9   production_companies  1851 non-null   object
 10  imdb_id               1851 non-null   object
dtypes: float64(1), int32(1), int64(1), object(8)
memory usage: 152.0+ KB

In [94]:
#pickle.dump(hindi_movies,open('hindi_movies.pkl', 'wb'))