importing

In [2]:
import pandas as pd
import numpy as np
import aiohttp
import asyncio
import requests
import time
import os
import warnings
import pickle

warnings.filterwarnings('ignore')

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2001'

t2001 = pd.DataFrame()
for table in range(2, 4):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2001, dtype=int)
    t2001 = pd.concat([t2001, df], ignore_index=True)
    t2001 = t2001[['Title','Director','Cast','Genre', 'release_year']]

In [3]:
t2001.head()

,Title,Director,Cast,Genre,release_year
0,Mrugaraju,Gunasekhar,"Chiranjeevi, Simran, Nagendra Babu",Action,2001
1,Narasimha Naidu,B. Gopal,"Nandamuri Balakrishna, Simran, K. Vishwanath",Drama,2001
2,Devi Putrudu,Kodi Ramakrishna,"Venkatesh, Soundarya, Anjala Zaveri",Fantasy,2001
3,Shivudu,Gosangi Krishna Rao,"Suresh, Satyaprakash, Sudhakar, M. S. Narayana",Action,2001
4,Navvuthu Bathakalira,Kodi Ramakrishna,"J. D. Chakravarthy, Sangeeta",Drama,2001

In [4]:
t2001.tail()

   Title Director Cast Genre  release_year
92   NaN      NaN  NaN   NaN          2001
93   NaN      NaN  NaN   NaN          2001
94   NaN      NaN  NaN   NaN          2001
95   NaN      NaN  NaN   NaN          2001
96   NaN      NaN  NaN   NaN          2001

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2002'

t2002 = pd.DataFrame()
for table in range(3, 5):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2002, dtype=int)
    t2002 = pd.concat([t2002, df], ignore_index=True)

In [6]:
t2002 = t2002[['Title','Director','Cast','Genre', 'release_year']]

In [7]:
t2002.head()

,Title,Director,Cast,Genre,release_year
0,Seema Simham,G. Ram Prasad,"Nandamuri Balakrishna, Simran, Reemma Sen, P. ...",Action,2002
1,Takkari Donga,Jayanth C. Paranjee,"Mahesh Babu, Lisa Ray, Bipasha Basu, Krishna G...",Action,2002
2,Nuvvu Leka Nenu Lenu,Y. Kasi Viswanath,"Tarun, Aarthi Agarwal, Laya, Sarath Babu",Romance,2002
3,Premaku Swagatam,S. V. Krishna Reddy,"J. D. Chakravarthy, Soundarya",Romance,2002
4,Priya Nestama,R. Ganapathy,"Venu, Malavika, Shama",Romance,2002

In [8]:
t2002.tail()

,Title,Director,Cast,Genre,release_year
86,Coolie,NaN,"Srihari, Raasi, Mumtaj",Action,2002
87,Premalo Pavani Kalyan,Polur Ghatikachalam,"Deepak, Ankitha",Romance,2002
88,Manmadhudu,K. Vijaya Bhaskar,"Nagarjuna, Sonali Bendre, Anshu",Romance,2002
89,Ninnu Choodaka Nenundalenu,R. Srinivas,"Sachin, Bhavana Pani",Romance / Drama,2002
90,Anveshana,Sagar,"Ravi Teja, Radhika Varma, Bose, Raghu Babu, Jeeva",Thriller,2002

In [9]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2003'

t2003 = pd.DataFrame()
for table in range(3, 5):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2003, dtype=int)
    t2003 = pd.concat([t2003, df], ignore_index=True)

In [10]:
t2003 = t2003[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [11]:
t2003.head()

,Title,Director,Cast,Genre,release_year
0,Naaga,D. K. Suresh,"Jr. NTR, Sadha, Jennifer, Raghuvaran, Nassar",Action,2003
1,Evare Athagadu,Bhanu Shankar,"Vallabh, Jaya Seal, Priyamani, Brahmanandam",Romance,2003
2,Ee Abbai Chala Manchodu,Agathiyan,"Ravi Teja, Sangeetha, Vani",Drama,2003
3,Okkadu,Gunasekhar,"Mahesh Babu, Bhoomika Chawla, Prakash Raj",Action / Romance,2003
4,Pellam Oorelithe,S. V. Krishna Reddy,"Srikanth, Venu, Rakshita, Sangeetha, Brahmanan...",Comedy,2003

In [12]:
t2003.tail()

,Title,Director,Cast,Genre,release_year
70,Maa Alludu Very Good,E V V Satyanarayana,"Rajendra Prasad, Allari Naresh, Ramya Krishna,...",Comedy,2003
71,Neeke Manasichaanu,Surya Teja,"Srikanth, Charmee Kaur, Anvithaa, Brahmanandam",Romance,2003
72,Avuna,C. Uma Maheshwar Rao,"Adarsh, Santhi Rao, Kota Srinivasa Rao",Romance,2003
73,Tiger Harischandraprasad,V. Samudra,"Nandamuri Harikrishna, Ramya Krishna, Sangeeth...",Action,2003
74,Satyam,Surya Kiran,"Sumanth, Genelia D'Souza, Brahmanandam, Kota S...",Romance / Action,2003

In [13]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2004'

t2004 = pd.DataFrame()
for table in range(2, 4):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2004, dtype=int)
    t2004 = pd.concat([t2004, df], ignore_index=True)

In [14]:
t2004 = t2004[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [15]:
t2004.head()

,Title,Director,Cast,Genre,release_year
0,Andhrawala,Puri Jagannadh,"Jr. NTR, Rakshita, Shayaji Shinde, Rahul Dev, ...",Action,2004
1,Lakshmi Narasimha,Jayanth C. Paranjee,"Nandamuri Balakrishna, Asin Thottumkal, Prakas...",Action,2004
2,Varsham,Sobhan,"Prabhas, Trisha Krishnan, Gopichand, Prakash R...",Romance/action,2004
3,Anji,Kodi Ramakrishna,"Chiranjeevi, Namrata Shirodkar, Tinnu Anand, M...",Action,2004
4,Athade Oka Sainyam,S. V. Krishna Reddy,"Jagapati Babu, Neha, Suman, Prakash Raj",Drama,2004

In [16]:
t2004.tail()

,Title,Director,Cast,Genre,release_year
94,Vidyardhi,Balachari,"Ramesh, Aditi Agarwal",Romance,2004
95,Aa Naluguru,Chandra Sidhartha,"Rajendra Prasad, Amani",Drama,2004
96,Gangamma Jatara,R. Narayana Murthy,"R. Narayana Murthy, Neelima Rao",Drama,2004
97,Vijayendra Varma,Swarna Subba Rao,"Nandamuri Balakrishna, Laya, Ankitha",Action,2004
98,Mass,Raghava Lawrence,"Nagarjuna, Jyothika, Charmme",Action,2004

In [17]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2005'

t2005 = pd.DataFrame()
for table in range(4, 6):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2005, dtype=int)
    t2005 = pd.concat([t2005, df], ignore_index=True)

In [18]:
t2005 = t2005[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [19]:
t2005.head()

,Title,Director,Cast,Genre,release_year
0,Pelli Kaani Pellam Avuthundi,Venkata Ganesh,"Venu Madhav, Mumtaj, Radhika Chowdhary",Romance,2005
1,Balu,A. Karunakaran,"Pawan Kalyan, Shriya Saran, Neha Oberoi, Gulsh...",Action / Romance,2005
2,Bucchi Babu,T. Raju,"Krishnudu, Bobby, Abhinayasri",Romance,2005
3,Nuvvostanante Nenoddantana,Prabhu Deva,"Siddharth, Trisha Krishnan, Srihari",Romance/Drama,2005
4,Naa Alludu,Vara Mullapudi,"Jr. NTR, Shriya Saran, Genelia D'Souza",Drama,2005

In [20]:
t2005.tail()

,Title,Director,Cast,Genre,release_year
87,Venkat Tho Alivelu,P Balaji,"Dilip, Sanjana, M. S. Narayana, Omkar, Anil",Romance,2005
88,Jai Chiranjeeva,K. Vijaya Bhaskar,"Chiranjeevi, Sameera Reddy, Bhoomika Chawla, A...",Comedy,2005
89,Alex,Rajesh Touchriver,"Haranath, Rambha, Sangeetha, Shiju, Kousha, In...",Drama,2005
90,Gowtam SSC,P A Arun Prasad,"Navdeep, Sindhu Tolani, K. Vishwanath, Bhanupriya",Romance / Drama,2005
91,Maha Simham,Akkumurthy Babu Rao,"Mukkuraju, Rallapalli, Kallu Chidambaram, Swat...",Drama,2005

In [21]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2006'

t2006 = pd.DataFrame()
for table in range(5, 6):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2006, dtype=int)
    t2006 = pd.concat([t2006, df], ignore_index=True)

In [22]:
t2006 = t2006[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [23]:
t2006.head()

,Title,Director,Cast,Genre,release_year
0,Devadasu,YVS Chowdary,"Ram, Ileana D'Cruz",Romance,2006
1,Style,Raghava Lawrence,"Raghava Lawrence, Prabhu Deva, Raja, Charmme, ...",Drama,2006
2,Chukkallo Chandrudu,Sivakumar Ananth,"Siddharth Narayan, Charmme, Sada",Romance,2006
3,Lakshmi,V. V. Vinayak,"Venkatesh Daggubati, Nayanthara, Charmy Kaur",Action,2006
4,Happy,A. Karunakaran,"Allu Arjun, Genelia D'Souza",Romance,2006

In [24]:
t2006.tail()

,Title,Director,Cast,Genre,release_year
63,Abhaddam,K. Balachander,"Uday Kiran, Vimala Raman",Drama,2006
64,Annavaram,Bhimaneni Srinivasa Rao,"Pawan Kalyan, Asin, Sandhya",Action,2006
65,Chinuku,NaN,NaN,NaN,2006
66,Chendrika,NaN,NaN,NaN,2006
67,Srinu C/O Anu,NaN,NaN,NaN,2006

In [25]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2007'

t2007 = pd.DataFrame()
for table in range(2, 3):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2007, dtype=int)
    t2007 = pd.concat([t2007, df], ignore_index=True)

In [26]:
t2007 = t2007[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [27]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2008'

t2008 = pd.DataFrame()
for table in range(1,2):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2008, dtype=int)
    t2008 = pd.concat([t2008, df], ignore_index=True)

In [28]:
t2008 = t2008[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [29]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2009'

t2009 = pd.DataFrame()
for table in range(3,4):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2009, dtype=int)
    t2009 = pd.concat([t2009, df], ignore_index=True)

In [30]:
t2009=t2009[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [31]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2010'

t2010 = pd.DataFrame()
for table in range(2,4):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2010, dtype=int)
    t2010 = pd.concat([t2010, df], ignore_index=True)

In [32]:
t2010=t2010[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [33]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2011'

t2011 = pd.DataFrame()
for table in range(2,4):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2011, dtype=int)
    t2011 = pd.concat([t2011, df], ignore_index=True)

In [34]:
t2011 = t2011[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [35]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2012'

t2012 = pd.DataFrame()
for table in range(2,4):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2012, dtype=int)
    t2012 = pd.concat([t2012, df], ignore_index=True)

In [36]:
t2012=t2012[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [37]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2013'

t2013 = pd.DataFrame()
for table in range(2,4):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2013, dtype=int)
    t2013 = pd.concat([t2013, df], ignore_index=True)

In [38]:
t2013=t2013[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [39]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2014'

t2014 = pd.DataFrame()
for table in range(2,4):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2014, dtype=int)
    t2014 = pd.concat([t2014, df], ignore_index=True)

In [40]:
t2014=t2014[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [41]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2015'

t2015 = pd.DataFrame()
for table in range(2,4):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2015, dtype=int)
    t2015 = pd.concat([t2015, df], ignore_index=True)

In [42]:
t2015=t2015[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [43]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2016'

t2016 = pd.DataFrame()
for table in range(2,4):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2016, dtype=int)
    t2016 = pd.concat([t2016, df], ignore_index=True)

In [44]:
t2016=t2016[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [45]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2017'

t2017 = pd.DataFrame()
for table in range(2,4):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2017, dtype=int)
    t2017 = pd.concat([t2017, df], ignore_index=True)

In [46]:
t2017=t2017[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [47]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2018'

t2018 = pd.DataFrame()
for table in range(4,6):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2018, dtype=int)
    df['Genre'] = np.full(shape=df.shape[0], fill_value='no result', dtype=str)
    t2018 = pd.concat([t2018, df], ignore_index=True)

In [48]:
t2018=t2018[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [49]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2019'

t2019 = pd.DataFrame()
for table in range(2,4):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2019, dtype=int)
    df['Genre'] = np.full(shape=df.shape[0], fill_value='no result', dtype=str)
    t2019 = pd.concat([t2019, df], ignore_index=True)

In [50]:
t2019=t2019[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [51]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2020'

t2020 = pd.DataFrame()
for table in range(2,5):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2020, dtype=int)
    df['Genre'] = np.full(shape=df.shape[0], fill_value='no result', dtype=str)
    t2020 = pd.concat([t2020, df], ignore_index=True)

In [52]:
t2020=t2020[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [53]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2021'

t2021 = pd.DataFrame()
for table in range(3,7):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2021, dtype=int)
    df['Genre'] = np.full(shape=df.shape[0], fill_value='no result', dtype=str)
    t2021 = pd.concat([t2021, df], ignore_index=True)

In [54]:
t2021=t2021[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [55]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2022'

t2022 = pd.DataFrame()
for table in range(4,8):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2022, dtype=int)
    df['Genre'] = np.full(shape=df.shape[0], fill_value='no result', dtype=str)
    t2022 = pd.concat([t2022, df], ignore_index=True)

In [56]:
t2022=t2022[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [57]:
url = 'https://en.wikipedia.org/wiki/List_of_Telugu_films_of_2023'

t2023 = pd.DataFrame()
for table in range(3,5):
    df = pd.read_html(url)[table]
    df['release_year'] = np.full(shape=df.shape[0], fill_value=2023, dtype=int)
    df['Genre'] = np.full(shape=df.shape[0], fill_value='no result', dtype=str)
    t2023 = pd.concat([t2023, df], ignore_index=True)

In [58]:
t2023=t2023[['Title', 'Director', 'Cast', 'Genre', 'release_year']]

In [64]:
telugu_movies = pd.concat([t2001,t2002,t2003,t2004,t2005,t2006,t2007,t2008,t2009,t2010,t2011,t2012,t2013,t2014,t2015,t2016,t2017,t2018,t2019,t2020,t2021,t2022,t2023], ignore_index=True)

In [78]:
telugu_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2187 entries, 0 to 2186
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         2187 non-null   object
 1   Director      2148 non-null   object
 2   Cast          2179 non-null   object
 3   Genre         2168 non-null   object
 4   release_year  2187 non-null   int64
dtypes: int64(1), object(4)
memory usage: 85.6+ KB

In [77]:
telugu_movies.drop(telugu_movies[telugu_movies['Title'].isna()].index, inplace=True)
telugu_movies.reset_index(drop=True, inplace=True)

In [12]:
#pickle.dump(telugu_movies,open('telugu_movies.pkl','wb'))

In [49]:
telugu_movies=pickle.load(open('telugu_movies.pkl','rb'))

In [50]:
telugu_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2187 entries, 0 to 2186
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         2187 non-null   object
 1   Director      2148 non-null   object
 2   Cast          2179 non-null   object
 3   Genre         2168 non-null   object
 4   release_year  2187 non-null   int64
dtypes: int64(1), object(4)
memory usage: 85.6+ KB

In [51]:
import re

def extract_movie_title(title):
    cleaned_title = re.sub(r'\s*\[[^\]]*\]\s*|\s*\([^)]*\)\s*', '', title)
    return cleaned_title.strip()

# Example usage:
movie_title = "Adipurush[b]"
cleaned_title = extract_movie_title(movie_title)
print(cleaned_title)

Adipurush

In [52]:
telugu_movies['Title'] = telugu_movies['Title'].apply(extract_movie_title)

In [53]:
telugu_movies['Title']

0                  Mrugaraju
1            Narasimha Naidu
2               Devi Putrudu
3                    Shivudu
4       Navvuthu Bathakalira
                ...
2182             Unstoppable
2183                 Vimanam
2184               Adipurush
2185                     Spy
2186        Samajavaragamana
Name: Title, Length: 2187, dtype: object

api calls

In [54]:
def call_apis(session, df):
    tasks = []
    for i in range(df.shape[0]):
        url = "https://api.themoviedb.org/3/search/movie?query={}&primary_release_year={}"

        headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYTY0OTg4MmMxZGM2YzIwM2RhNDcxY2ExMDJmY2MxNyIsInN1YiI6IjY0NzczYmFkMTJjNjA0MDEzZWQ5MGFjNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-Saw_BrZ_WDQkMvZ04gfVwwiVR6HSpHO2QiiWAOjYxA"
                    }

        
        tasks.append(asyncio.create_task(session.get(url.format(df.iloc[i]['Title'], df.iloc[i]['release_year']), headers=headers)))

    return tasks

async def get_data(df):
    """ It gives ids, titles, overview, genre_ids, popularity, vote_average, vote_count"""
    async with aiohttp.ClientSession() as session:
        tasks = call_apis(session, df)
        responses = await asyncio.gather(*tasks)
        json_responses = []
        for response in responses:
            json_response = await response.json()
            json_responses.append(json_response)
    
        return json_responses

In [55]:
start = time.time()

json_responses = await get_data(telugu_movies)

end = time.time()
total_time = end - start
print("It took {} seconds to make {} API calls".format(total_time, len(telugu_movies)))
print('You did it!')

It took 2.1769611835479736 seconds to make 2187 API calls
You did it!

In [56]:
len(json_responses)

2187

In [57]:
tmdb_id = []
overview = []
rating = []
poster = []
count=0

for record in json_responses:
    
    if 'results' not in record or len(record['results']) == 0:
        
        tmdb_id.append('no result')
        overview.append('no result')
        rating.append('no result')
        poster.append('no result')
    else:    
        tmdb_id.append(record['results'][0]['id'])
        overview.append(record['results'][0]['overview'])
        rating.append(record['results'][0]['vote_average'])
        poster.append(record['results'][0]['poster_path'])
    count+=1

In [58]:
len(tmdb_id), len(overview), len(rating), len(poster)

(2187, 2187, 2187, 2187)

In [59]:
telugu_movies['tmdb_id'] = tmdb_id
telugu_movies['overview'] = overview
telugu_movies['rating'] = rating
telugu_movies['poster'] = poster

In [60]:
telugu_movies.drop(telugu_movies[telugu_movies['tmdb_id'] == 'no result'].index, inplace=True)
telugu_movies.reset_index(drop=True, inplace=True)

In [61]:
telugu_movies.isna().sum()

Title             0
Director         16
Cast              1
Genre             5
release_year      0
tmdb_id           0
overview          0
rating            0
poster          256
dtype: int64

In [62]:
#pickle.dump(telugu_movies,open('telugu_movies_data.pkl','wb'))

genres tmdb

In [63]:
def call_apis(session, df, var):
    tasks = []
    for i in range(df.shape[0]):
        url = "https://api.themoviedb.org/3/movie/{}"

        headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYTY0OTg4MmMxZGM2YzIwM2RhNDcxY2ExMDJmY2MxNyIsInN1YiI6IjY0NzczYmFkMTJjNjA0MDEzZWQ5MGFjNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-Saw_BrZ_WDQkMvZ04gfVwwiVR6HSpHO2QiiWAOjYxA"
        }


        
        tasks.append(asyncio.create_task(session.get(url.format(df.iloc[i][var]), headers=headers)))

    return tasks

async def get_data(df, var):
    async with aiohttp.ClientSession() as session:
        tasks = call_apis(session, df, var)
        responses = await asyncio.gather(*tasks)
        json_responses = []
        for response in responses:
            json_response = await response.json()
            json_responses.append(json_response)
    
        return json_responses

In [65]:
start = time.time()

json_responses = await get_data(telugu_movies, 'tmdb_id')

end = time.time()
total_time = end - start
print("It took {} seconds to make {} API calls".format(total_time, len(telugu_movies)))
print('You did it!')

It took 1.784961462020874 seconds to make 1522 API calls
You did it!

In [66]:
imdb_id = []
genres_tmdb = []
production_companies = []


for record in json_responses:
    
    if len(record['genres']) == 0:
        genres_tmdb.append('no result')
    else:
        genre_temp=[]
        for i in range(len(record['genres'])):
            genre_temp.append(record['genres'][i]['name'])
            
        genres_tmdb.append(genre_temp)
        
    if len(record['production_companies']) == 0:
        production_companies.append('no result')
    else:
        production_companies_temp=[]
        for i in range(len(record['production_companies'])):
            production_companies_temp.append(record['production_companies'][i]['name'])
            
        production_companies.append(production_companies_temp)
        
    if record['imdb_id'] != None:
        imdb_id.append(record['imdb_id'])
    else:
        imdb_id.append('no result')

In [67]:
len(genres_tmdb), len(production_companies), len(imdb_id)

(1522, 1522, 1522)

In [69]:
telugu_movies['genres_tmdb'] = genres_tmdb
telugu_movies['production_companies'] = production_companies
telugu_movies['imdb_id'] = imdb_id

In [77]:
telugu_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1522 entries, 0 to 1521
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Title                 1522 non-null   object
 1   Director              1506 non-null   object
 2   Cast                  1521 non-null   object
 3   Genre                 1517 non-null   object
 4   release_year          1522 non-null   int64
 5   tmdb_id               1522 non-null   object
 6   overview              1522 non-null   object
 7   rating                1522 non-null   object
 8   poster                1266 non-null   object
 9   genres_tmdb           1522 non-null   object
 10  production_companies  1522 non-null   object
 11  imdb_id               1522 non-null   object
dtypes: int64(1), object(11)
memory usage: 142.8+ KB

In [75]:
for i, j, k in zip(telugu_movies.index, telugu_movies['Genre'], telugu_movies['genres_tmdb']):
    
    if k == 'no result':
        
        telugu_movies['genres_tmdb'].update({i:telugu_movies.iloc[i]['Genre']})

In [76]:
for col in telugu_movies.columns:
    
    print(f'{col} has no of "no result"-> {sum(telugu_movies[col]=="no result")}' )

Title has no of "no result"-> 0
Director has no of "no result"-> 0
Cast has no of "no result"-> 0
Genre has no of "no result"-> 0
release_year has no of "no result"-> 0
tmdb_id has no of "no result"-> 0
overview has no of "no result"-> 0
rating has no of "no result"-> 0
poster has no of "no result"-> 0
genres_tmdb has no of "no result"-> 1
production_companies has no of "no result"-> 706
imdb_id has no of "no result"-> 102

In [82]:
#pickle.dump(telugu_movies,open('telugu_movies_data.pkl','wb'))

Collecting cast and director

In [83]:
url = "https://api.themoviedb.org/3/movie/{}/credits"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYTY0OTg4MmMxZGM2YzIwM2RhNDcxY2ExMDJmY2MxNyIsInN1YiI6IjY0NzczYmFkMTJjNjA0MDEzZWQ5MGFjNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-Saw_BrZ_WDQkMvZ04gfVwwiVR6HSpHO2QiiWAOjYxA"
}

start = time.time()
# Run the code

count=0
json_responses = []

for ids in telugu_movies['tmdb_id']:
    response = requests.get(url.format(ids), headers=headers)
    json_responses.append(response.json())
    count+=1

In [84]:
len(json_responses)

1522

In [85]:
cast=[]
director = []
count=0
for record in range(len(json_responses)):
    
    if 'cast' in json_responses[record]:
        if len(json_responses[record]['cast'])>=6:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name'],
                         json_responses[record]['cast'][2]['name'],
                         json_responses[record]['cast'][3]['name'],
                         json_responses[record]['cast'][4]['name'],
                         json_responses[record]['cast'][5]['name']])
            
        elif len(json_responses[record]['cast'])==5:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name'],
                         json_responses[record]['cast'][2]['name'],
                         json_responses[record]['cast'][3]['name'],
                         json_responses[record]['cast'][4]['name']])
            
        elif len(json_responses[record]['cast'])==4:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name'],
                         json_responses[record]['cast'][2]['name'],
                         json_responses[record]['cast'][3]['name']])
            
        elif len(json_responses[record]['cast'])==3:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name'],
                         json_responses[record]['cast'][2]['name']])
            
        elif len(json_responses[record]['cast'])==2:
            cast.append([json_responses[record]['cast'][0]['name'],
                         json_responses[record]['cast'][1]['name']])
            
        elif len(json_responses[record]['cast'])==1:
            cast.append([json_responses[record]['cast'][0]['name']])
            
            
        else:
            cast.append('unknown')
            
    else:
        cast.append('unknown')
            
            
    if 'crew' in json_responses[record]:
        for member in json_responses[record]['crew']:
                if member['job'] == 'Director':
                    director.append(member['name'])
                    break
        else:
            director.append('unknown')
            
    else:
        director.append('unknown')
    count+=1

In [86]:
len(cast), len(director)

(1522, 1522)

In [88]:
telugu_movies['cast_tmdb'] = cast
telugu_movies['director_tmdb'] = director

In [90]:
telugu_movies.isna().sum()

Title                     0
Director                 16
Cast                      1
Genre                     5
release_year              0
tmdb_id                   0
overview                  0
rating                    0
poster                  256
genres_tmdb               0
production_companies      0
imdb_id                   0
cast_tmdb                 0
director_tmdb             0
dtype: int64

In [91]:
for col in telugu_movies.columns:
    
    print(f'{col} has no of "no result"-> {sum(telugu_movies[col]=="no result")}' )

Title has no of "no result"-> 0
Director has no of "no result"-> 0
Cast has no of "no result"-> 0
Genre has no of "no result"-> 0
release_year has no of "no result"-> 0
tmdb_id has no of "no result"-> 0
overview has no of "no result"-> 0
rating has no of "no result"-> 0
poster has no of "no result"-> 0
genres_tmdb has no of "no result"-> 1
production_companies has no of "no result"-> 706
imdb_id has no of "no result"-> 102
cast_tmdb has no of "no result"-> 0
director_tmdb has no of "no result"-> 0

In [99]:
#pickle.dump(telugu_movies,open('telugu_movies_data.pkl','wb'))

In [93]:
telugu_movies.fillna("no result", inplace=True)

In [97]:
telugu_movies=telugu_movies[['Title', 'release_year', 'cast_tmdb', 'director_tmdb', 'tmdb_id', 'overview', 'rating', 'poster', 'genres_tmdb', 'production_companies','imdb_id']]

In [98]:
telugu_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1522 entries, 0 to 1521
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Title                 1522 non-null   object
 1   release_year          1522 non-null   int64
 2   cast_tmdb             1522 non-null   object
 3   director_tmdb         1522 non-null   object
 4   tmdb_id               1522 non-null   int64
 5   overview              1522 non-null   object
 6   rating                1522 non-null   float64
 7   poster                1522 non-null   object
 8   genres_tmdb           1522 non-null   object
 9   production_companies  1522 non-null   object
 10  imdb_id               1522 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 130.9+ KB